# Fundamental Python

###Print, Variable, Arithmetic

In [2]:
# Print
print('Hello World')

Hello World

In [3]:
# Variables and assignment
a = 12
print(a)
b = 7
print(b)

12
7

In [4]:
# Arithmetic
print(a + b)
print(b - a)
print(a * b)
print(b / a)

19
-5
84
0.5833333333333334

In [5]:
# Update
a = a + b
print(a)

19

In [6]:
# Increment
a += b
print(a)

26

###Tipe Data

Integer

In [12]:
td_int = 12
print(td_int)

12

Float

In [13]:
td_float = 12.2
print(td_float)

12.2

Double

In [47]:
td_doub = 12.22222222222222
print(td_doub)

12.22222222222222

String

In [48]:
string1 = "Halo"
string2 = "Gais"
print(string1, string2)

Halo Gais

In [49]:
print(string1, len(string2))

Halo 4

In [50]:
string12 = '{} {} {}'.format(string1, string2, 12)  # string formatting
print(string12)

Halo Gais 12

In [51]:
print(string1.capitalize())  # Capitalize a string
print(string1.upper())       # Convert a string to uppercase; prints "HELLO"
print(string1.rjust(7))      # Right-justify a string, padding with spaces
print(string1.center(7))     # Center a string, padding with spaces
print(string1.replace('al', '(ell)'))  # Replace all instances of one substring with another
print('  world '.strip())  # Strip leading and trailing whitespace

Halo
HALO
   Halo
  Halo
H(ell)o
world

Boolean

In [16]:
t, f = True, False
print(type(t))

<class 'bool'>

In [17]:
print(t and f) # Logical AND;
print(t or f)  # Logical OR;
print(not t)   # Logical NOT;
print(t != f)  # Logical XOR;

False
True
False
True

List

In [23]:
list1 = [3, 4, 7]      # Create a list
print(list1, list1[2]) # Print lists and specified index from list
print(list1[-1])       # Negative indices count from the end of the list

[3, 4, 7] 7
7

In [24]:
list1[2] = 'foo'    # Replace specified index
print(list1)

[3, 4, 'foo']

In [25]:
list1.append('bar') # Add a new element to the end of the list
print(list1)

[3, 4, 'foo', 'bar']

In [26]:
list2 = list1.pop()     # Remove and return the last element of the list
print(list2, list1)

bar [3, 4, 'foo']

Tuple

In [30]:
#Accessing Tuple
tup1 = ('fisika', 'kimia', 1993, 2017)
tup2 = (1, 2, 3, 4, 5, 6, 7 )

print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  fisika
tup2[1:5]:  (2, 3, 4, 5)

In [31]:
#Updating Tuple
tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')

tup3 = tup1 + tup2
print (tup3)

(12, 34.56, 'abc', 'xyz')

In [32]:
#Deleting Tuple
tup = ('fisika', 'kimia', 1993, 2017)
print(tup)

del tup

tup = ('Bahasa', 'Literasi', 2020)
print("Setelah menghapus tuple :", tup)

('fisika', 'kimia', 1993, 2017)
Setelah menghapus tuple : ('Bahasa', 'Literasi', 2020)

Dictionary

In [45]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

In [46]:
#Updating Dictionary
dict['Age'] = 8; 
dict['School'] = "DPS School" 

print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

###Function

In [58]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    print(sign(x))

negative
zero
positive

In [59]:
def hello(name, loud=False):
    if loud:
        print('HELLO, {}'.format(name.upper()))
    else:
        print('Hello, {}!'.format(name))

hello('Chris')
hello('Benny', loud=True)

Hello, Chris!
HELLO, BENNY

###Condition

In [60]:
a = 8
if a > 10:
    print(a, 'is greater than 10')
    if a >= 15:
        print(a, 'is also at least 15')
elif a > 5:
    print(a, 'is greater than 5 but not greater than 10')
else:
    print('no condition matched')
    print('so a is 5 or less')

8 is greater than 5 but not greater than 10

###Loops

While Loop

In [61]:
count = 0
while (count < 9):
    print ("The count is: ", count)
    count = count + 1

print ("Good bye!")

The count is:  0
The count is:  1
The count is:  2
The count is:  3
The count is:  4
The count is:  5
The count is:  6
The count is:  7
The count is:  8
Good bye!

For Loop

In [62]:
buah = ["nanas", "apel", "jeruk"]
for makanan in buah:
    print ("Saya suka makan", makanan)

Saya suka makan nanas
Saya suka makan apel
Saya suka makan jeruk

Nested Loop

In [63]:
i = 2
while(i < 100):
    j = 2
    while(j <= (i/j)):
        if not(i%j): break
        j = j + 1
    if (j > i/j) : print(i, " is prime")
    i = i + 1

print("Good bye!")

2  is prime
3  is prime
5  is prime
7  is prime
11  is prime
13  is prime
17  is prime
19  is prime
23  is prime
29  is prime
31  is prime
37  is prime
41  is prime
43  is prime
47  is prime
53  is prime
59  is prime
61  is prime
67  is prime
71  is prime
73  is prime
79  is prime
83  is prime
89  is prime
97  is prime
Good bye!

###Date & Time

Localtime

In [54]:
import time;

ticks = time.time() #interval floating-point in seconds
print ("Since 12:00am, January 1, 1970 :", ticks)

Since 12:00am, January 1, 1970 : 1649473616.4423544

In [55]:
localtime = time.localtime(time.time())
print ("Localtime :", localtime)

Localtime : time.struct_time(tm_year=2022, tm_mon=4, tm_mday=9, tm_hour=3, tm_min=7, tm_sec=23, tm_wday=5, tm_yday=99, tm_isdst=0)

Calendar

In [57]:
import calendar;
cal = calendar.month(2001, 2)
print (cal)

   February 2001
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28